<div class="reward" ontouchstart>
    <div class="reward-wrap">
	<img height="70" width="70"  src="<%= theme.reward.wepay %>">

    </div>
    <p class="reward-tip">
        <%= theme.reward.tip %>
    </p>
</div>